
kernel8.elf.id0
kernel8.elf.id1
kernel8.elf.id2
kernel8.elf.nam
kernel8.elf.til
*.o
kernel8 - Copy.elf.id0
kernel8 - Copy.elf.id1
kernel8 - Copy.elf.id2
kernel8 - Copy.elf.nam
kernel8 - Copy.elf.til
